%h1 É novo aqui?
- provide(:title, 'assine')
%h1 Assine já!
%form#new_usuario.new_usuario{"accept-charset" => "UTF-8", action: "/usuarios", method: "post"}
  %input{name: "utf8", type: "hidden", value: "✓"}/
  %input{name: "authenticity_token", type: "hidden", value: "NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo="}/
  %label{for: "usuario_nome"} Nome
  %input#usuario_nome{name: "usuario[nome]", type: "text"}/
  %label{for: "usuario_email"} Email
  %input#usuario_email{name: "usuario[email]", type: "email"}/
  %label{for: "usuario_password"} Password
  %input#usuario_password{name: "usuario[password]", type: "password"}/
  %label{for: "usuario_password_confirmation"} Confirme seu password
  %input#usuario_password_confirmation{name: "usuario[password_confirmation]", type: "password"}/
  %input.btn.btn-primary{name: "commit", type: "submit", value: "Create my account"}/
= link_to 'Back', usuarios_path
